/* App.css */
.transparent-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.transparent-scrollbar::-webkit-scrollbar {
  width: 0px; /* Chrome/Safari/Edge */
  height: 0px;
}
